<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>enabled</key>
    <true/>
    <key>servers</key>
    <array>
        <string>127.0.0.1:8765</string>
        <string>192.168.1.45:8765</string>
    </array>
    <key>audioEnabled</key>
    <true/>
</dict>
</plist>
